.status {
  height: 130px;
  color: #fff;
  padding: 25px;
  box-sizing: border-box;
}

.status.title {
  margin-top: 10px;
}

.status.primary {
  background: #39C7FF;
}

.status.success {
  background: #46D3A6;
}

.status.warning {
  background: #E94D58;
}

.status.negative {
  background: #8D3FAF;
}

.status p.num {
  font-size: 18px;
  font-weight: bold;
}

.status p.title {
  margin-top: 25px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .cus-status.el-col-xs-12 {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .cus-status.el-col-sm-12 {
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .cus-status.el-col-sm-12 {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .cus-status.el-col-sm-12 {
    margin-bottom: 0;
  }
}
