* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  font-family: 'Microsoft Yahei', 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#app {
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
}

.content-container {
  padding: 59px 15px 55px 215px;
  box-sizing: border-box;
  height: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

section.row {
  margin-bottom: 30px;
}
