.page-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgb(64, 158, 255);
  font-size: 14px;
  color: #FFF;
}

.page-header h2 {
  display: inline-block;
  font-size: 20px;
}

.page-header .username {
  float: right;
  margin-left: 15px;
}

.page-header .logout {
  float: right;
  margin: 10px 0 0 15px;
}

.page-header .el-button--text {
  color: #FFF;
}