.sidebar {
  width: 200px;
  position: fixed;
  top: 44px;
  left: 0;
  height: 100%;
  background: #252935;
}

.sidebar p {
  font-size: 18px;
  color: #fff;
  padding: 30px 0 30px 20px;
  font-weight: bold;
}

.sidebar .el-menu,
.sidebar .el-submenu {
  background: #252935;
}

.sidebar .el-menu--dark .el-submenu .el-menu {
  background: #2E313F;
}

.sidebar .el-menu--dark .el-menu-item:hover,
.sidebar .el-menu--dark .el-submenu__title:hover {
  background: #45495A;
}
